#articulo-3{
    color: greenyellow;
}

h1{
    color: blue;
}

h2{
    color: peru;
}

.texto-naranja{
    color: orange;
}

.texto-verde{
    color: green;
}

.texto-azul{
    color: blue;
}

.texto-morado{
    color: purple;
}